*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
.line{
    width: 90%;
    height: 5px;
    background-color: #000;
    margin: 20px auto;
    border-radius: 50%;

}
#header {
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 15px;
    background-color: #fbfbfc;
    z-index: 1;
}
h1{
    font-size: 4em;
    padding: 5px;
    font-weight: 300;
}

img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 15px auto;
    border-radius: 10px;
}
#ramen-menu {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
@media only screen and (max-width: 1500px){
    #ramen-menu {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;  
    }
}

@media only screen and (max-width: 1000px){
    #ramen-menu {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;  
    }
}
footer {
    width: 100%;
    margin-bottom: 25px;
}

.border{
    width: 50%;
    background-color: #000;
    color: #fff;
    margin: auto;
    font-size: 1.2em;
}

.border p{
    width: 100%;
    text-align: center;
}

#add-review{
    width: 25%;
    margin: 15px auto;
    align-content: center;
}
form {
    width: 80%;
    margin: auto;
}

label{
    margin-top: 10px;
}

input{
    display: block;
    width: 350px;
    margin-top: 5px;
    padding-left: 4px;
    font-size: 1em;
    background-color: #fbfbfc;
    border: 1px solid ;
    border-radius: 5px;
}

textarea{
    width: 350px;
    height: 70px;
    background-color: #fbfbfc;
    border-radius: 10px;
    border: 1px solid ;
}
input[type="submit"]{
    background-color: #000;
    color: #fbfbfc;

}
